services:
  mower-queue:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env
  machine-simulator:
    build:
      context: ./scripts
      dockerfile: Dockerfile
    ports:
      - 5001:5001
    depends_on:
      mower-queue:
        condition: service_started
  db:
    image: postgres:16.8
    restart: always
    ports:
      - 5432:5432
    volumes:
      - pgdb:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
volumes:
  pgdb:
